.acoes {
    display: flex;
    justify-content: flex-end;
}

.botao {
    &-excluir {
        border: none;
        cursor: pointer;
        margin-left: 5px;
        margin-top: 10px;
        background: none;
    }

    &-editar {
        border: none;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 10px;
        background: none;
    }

    &-favorito {
        border: none;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 10px;
        background: none;
        color: #154580;

        .material-symbols-outlined {
            font-size: 32px;

            &.fill-1 {
                color: white;
                background-color: #154580;
                border-radius: 50%;
                padding: 3px;
            }
        }
    }
}

.pensamento {
    background-color: #f8f9fe;
    padding: 1rem;
    box-sizing: border-box;

    .conteudo {
        margin: 1rem auto;
        word-wrap: break-word;
    }

    .autoria {
        word-wrap: break-word;
    }

    &-g {
        width: 556px;
    }

    &-p {
        width: 262px;
    }
}

.modelo {
    &1 {
        box-shadow: 8px 8px 0px #154580;
    }

    &2 {
        box-shadow: 8px 8px 0px #6bd1ff;
    }

    &3 {
        box-shadow: 8px 8px 0px #84eec1;
    }
}

@media screen and (max-width: 768px) {
    .pensamento-g {
        width: 100%;
    }
}
@media screen and (max-width: 426px) {
    .pensamento-p {
        width: 100%;
    }
}
